/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #484848;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #FF3727;
	text-decoration: none;
}
a:visited {
	color: #FF3727;
	text-decoration: none;
}
a:hover {
	color: #ff99cc;
	text-decoration: none;
}


/* General Slides */

.slide {
	/*
	background-attachment: fixed;
	background-color: #e6f7ff;
	*/
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}

.slide h1 {
	font-size: 3.8em;
	margin: 0.2em 0;
	line-height: 1em;
	font-weight: 700;
}

.slide h2 {
	font-size: 2em;
	margin: 0;
	font-weight: 400;
}

/* Dark and Light Slides */
.dark {
	background-color: #37474f;
	color: #fff;
}

.light {
	color: #333333;
}

.appendix{
	background-color: #eee;
}

/* Tableau Styles */

.tableauPlaceholder {
	padding: 1em 0;
}


/* Slide 1: Title */

#slide1{
	background-image:url('../images/header.jpg');
	background-color:#ffffff;
	color:#ff99cc;
	background-repeat: no-repeat;
	background-size: 780px 842px;
	background-attachment: fixed;
	background-position: right;
	height: 394px;
}

#slide1 h1 {
	font-size: 8em;
	letter-spacing: -3px;
	margin: 0;
	font-weight: 700;
}

#slide1 h2{
	font-size: 5em;
	letter-spacing: -3px;
	margin: 0;
	font-weight: 700;
}

/* Slide 6: Intro */
#slide6 {
	background-color:#37474f;
	color: #fff;
}

#ytplayer {
	margin-top: 3em;
}

h3 {
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 0.5em;
	text-align: center;
}

table {
	width: 100%;
	color: #ffffff;
	font-size: 0.9em;
	text-align: left;
}

table, td, th {
	border-bottom: 1px solid #cccccc;
}

th {
	background-color: #666666;
	color: #ffffff;
	padding: 1% 6%;
}

td {
	padding: 1% 4%;
}


/* Tablet */
/*
@media screen and (max-width: 1024px) {

	.slide {
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#decorative {
		display:none;
	}

	#content {
		text-align:center;
		width:100%;
	}

	#slide1 h1 {
		font-size: 6em;
		line-height: 1em;
	}

}
*/


/* Mobile */
/*
@media screen and (max-width: 480px) {

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#slide1 h1 {
		font-size: 3.8em;
		line-height: 1em;
	}

}
*/

/* Table layout */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
	vertical-align: top;	
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell {
	border: 0px solid #999999;
	display: table-cell;
	padding: 13px 30px;
	vertical-align: top;	
}
.divTableCell2a {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 5px;
	vertical-align: top;	
	width: 15%;
}
.divTableCell2b {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 5px;
	vertical-align: top;	
	width: 85%;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

#slide2 p::first-letter {
  font-weight: bold;
  color: red;
  font-size: 1.7em;
}