/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #484848;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #ff99cc;
	text-decoration: none;
}
a:hover {
	color: #FF3727;
	text-decoration: none;
}
a:visited {
	color: #ff99cc;
	text-decoration: none;
}


/* General Slides */

.slide {
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}

.slide h1 {
	font-size: 3.8em;
	margin: 0.2em 0;
	line-height: 1em;
	font-weight: 700;
}

.slide h2 {
	font-size: 2em;
	margin: 0;
	font-weight: 400;
}

/* Dark and Light Slides */

.dark {
	background-color: #f7f7f9;
	color: #333333;
}

.light {
	background-color: #fff;
	color: #333333;
}

/* Tableau Styles */

.tableauPlaceholder {
	padding: 1em 0;
}


/* Slide 1: Title */

#slide1{
	background-image:url('../images/header.jpg');
	background-color:#ffffff;
	color:#ff99cc;
	background-repeat: no-repeat;
	background-size: 780px 842px;
	background-attachment: fixed;
	background-position: right;
	height: 394px;
}

#slide1 h1 {
	font-size: 8em;
	letter-spacing: -3px;
	margin: 0;
	font-weight: 700;
	position:relative;
	left: -50px;
	bottom: -80px;
}

/* Slide 2: Intro */

#ytplayer {
	margin-top: 3em;
}

/* Slide 4: Drought Dashboard */

h3 {
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 0.5em;
	text-align: center;
}

table {
	width: 100%;
	color: #ffffff;
	font-size: 0.9em;
	text-align: left;
}

table, td, th {
	border-bottom: 1px solid #cccccc;
}

th {
	background-color: #666666;
	color: #ffffff;
	padding: 1% 6%;
}

td {
	padding: 1% 4%;
}

/* Slide 7: Credits; */

#slide7 {
	background-color:#00ace6;
	color:#ffffff;
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-attachment: fixed;
	background-position: center;
}

#slide7 h1 {
/*	margin-top: 1em;
*/}


/* Tablet */
@media screen and (max-width: 1024px) {

	.slide {
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#decorative {
		display:none;
	}

	#content {
		text-align:center;
		width:100%;
	}

	#slide1 h1 {
		font-size: 6em;
		line-height: 1em;
	}

}


/* Mobile */
@media screen and (max-width: 480px) {

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#slide1 h1 {
		font-size: 3.8em;
		line-height: 1em;
	}

}
